# Q1. Sum of even number

In [1]:
def sum_even_number(numbers):
    sum_even = sum(i for i in numbers if i%2==0)
    return sum_even

In [2]:
numbers = [1,2,3,4,5,6,7,8,9,10]
result = sum_even_number(numbers)
print(result)

30

# Q2. Reverse a string

In [3]:
def reverse_string(word):
    return word[::-1]

In [4]:
sentence = "GOOD MORNING"
result = reverse_string(sentence)
print(result)

GNINROM DOOG

# Q3. Square of numbers in a list

In [5]:
def square_of_number_list(numbers):
    squared_list = [i**2 for i in numbers]
    return squared_list

In [6]:
numbers_list = [5,15,25,35,45,55,65,75,85,95]
result = square_of_number_list(numbers_list)
print(result)

[25, 225, 625, 1225, 2025, 3025, 4225, 5625, 7225, 9025]

# Q4. Check for a Prime number between 1 and 200

In [7]:
def whether_prime(p):
    if p < 2:
        return False
    for i in range(2, int(p ** 0.5) + 1):
        if p % i == 0:
            return False
    return True

In [8]:
# To check prime numbers from 1 to 200
num = int(input("Insert a number to check whether prime or not between 1 and 200:"))
if 1<=num<=200:
    if whether_prime(num):
        print(f"{num} is a prime number.")
    else:
        print(f"{num} is not prime number.")
else:
    print(f"{num} is not in range.")

Insert a number to check whether prime or not between 1 and 200: 17

17 is a prime number.

# Q5. Iterator Class for Fibonaaci sequence

In [9]:
class Fibo:
    def __init__(self,number_of_terms):
        self.number_of_terms = number_of_terms
        self.current_term = 0
        self.a, self.b = 0,1

    def __iter__(self):
        return self

    def __next__(self):
        if self.current_term >= self.number_of_terms:
            raise StopIteration
        fib_number = self.a
        self.a, self.b = self.b, self.a + self.b
        self.current_term +=1
        return fib_number

In [10]:
fib = Fibo(20)
for i in fib:
    print(i)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181

# Q6. Generator function that yields power of 2 upto given exponent

In [11]:
def power_of_two(max_exponent):
    for i in range(max_exponent+1):
        yield 2**i

In [12]:
n =  int(input("Insert maximun exponent upto which power of 2 is required: "))
for i in power_of_two(n):
    print(i)

Insert maximun exponent upto which power of 2 is required:  6

1
2
4
8
16
32
64

# Q7. Generator function that yields each line as string

In [13]:
def read_file_line_by_line(file_path):
    with open(file_path,'r') as f:
        for line in f:
            yield line.strip()

In [14]:
for line in read_file_line_by_line('example.txt'):
    print(line)

To Sherlock Holmes she is always the woman. I have seldom heard him
mention her under any other name. In his eyes she eclipses and
predominates the whole of her sex. It was not that he felt any
emotion akin to love for Irene Adler. All emotions, and that one
particularly, were abhorrent to his cold, precise but admirably
balanced mind. He was, I take it, the most perfect reasoning and
observing machine that the world has seen, but as a lover he would
have placed himself in a false position. He never spoke of the softer
passions, save with a gibe and a sneer. They were admirable things
for the observer--excellent for drawing the veil from men's motives
and actions. But for the trained reasoner to admit such intrusions
into his own delicate and finely adjusted temperament was to
introduce a distracting factor which might throw a doubt upon all his
mental results. Grit in a sensitive instrument, or a crack in one of
his own high-power lenses, would not be more disturbing than a strong
emotion in a nature such as his. And yet there was but one woman to
him, and that woman was the late Irene Adler, of dubious and
questionable memory.

I had seen little of Holmes lately. My marriage had drifted us away
from each other. My own complete happiness, and the home-centred
interests which rise up around the man who first finds himself master
of his own establishment, were sufficient to absorb all my attention,
while Holmes, who loathed every form of society with his whole
Bohemian soul, remained in our lodgings in Baker Street, buried among
his old books, and alternating from week to week between cocaine and
ambition, the drowsiness of the drug, and the fierce energy of his
own keen nature. He was still, as ever, deeply attracted by the study
of crime, and occupied his immense faculties and extraordinary powers
of observation in following out those clues, and clearing up those
mysteries which had been abandoned as hopeless by the official
police. From time to time I heard some vague account of his doings:
of his summons to Odessa in the case of the Trepoff murder, of his
clearing up of the singular tragedy of the Atkinson brothers at
Trincomalee, and finally of the mission which he had accomplished so
delicately and successfully for the reigning family of Holland.
Beyond these signs of his activity, however, which I merely shared
with all the readers of the daily press, I knew little of my former
friend and companion.

One night--it was on the twentieth of March, 1888--I was returning
from a journey to a patient (for I had now returned to civil
practice), when my way led me through Baker Street. As I passed the
well-remembered door, which must always be associated in my mind with
my wooing, and with the dark incidents of the Study in Scarlet, I was
seized with a keen desire to see Holmes again, and to know how he was
employing his extraordinary powers. His rooms were brilliantly lit,
and, even as I looked up, I saw his tall, spare figure pass twice in
a dark silhouette against the blind. He was pacing the room swiftly,
eagerly, with his head sunk upon his chest and his hands clasped
behind him. To me, who knew his every mood and habit, his attitude
and manner told their own story. He was at work again. He had risen
out of his drug-created dreams and was hot upon the scent of some new
problem. I rang the bell and was shown up to the chamber which had
formerly been in part my own.

His manner was not effusive. It seldom was; but he was glad, I think,
to see me. With hardly a word spoken, but with a kindly eye, he waved
me to an armchair, threw across his case of cigars, and indicated a
spirit case and a gasogene in the corner. Then he stood before the
fire and looked me over in his singular introspective fashion.

# Q8. Lambda function to sort a list of tuples based on second element of each tuple.

In [15]:
tuple_list = [(5,125),(216,6),(4,64),(8,2),(1331,11)]

sorted_list = sorted(tuple_list,key = lambda x:x[1])
print(sorted_list)

[(8, 2), (216, 6), (1331, 11), (4, 64), (5, 125)]

# Q9. map() to convert a list of temperatures from Celsius to Fahrenheit

In [16]:
def degree_Celsius_to_degree_Fahrenheit(C):
    return (C*(9/5))+32

celsius_temps = [-40,0,40,100]

fahrenheit_temp = list(map(degree_Celsius_to_degree_Fahrenheit,celsius_temps))

print(fahrenheit_temp)

[-40.0, 32.0, 104.0, 212.0]

# Q10. filter() to remove vowels from string

In [17]:
def remove_vowels(s):
    vowels = set('aeiouAEIOU')
    
    filtered_string = filter(lambda vow: vow not in vowels, s)
    
    return ''.join(filtered_string)

input_string = input("Input a string: ")
result = remove_vowels(input_string)
print(result)

Input a string:  Satyabhama has 10 CGPA.

Stybhm hs 10 CGP.

# Q11. Accounting Routine Problem

In [19]:
orders = [
    [34587, 'Learning Python, Mark Lutz', 4, 40.95],
    [98762, 'Programming Python, Mark Lutz', 5, 56.80],
    [77226, 'Head First Python, Paul Barry', 3, 32.95],
    [88112, 'Einfuhrung in Python3, Bernd Klein', 3, 24.99]
]

calculate_total = lambda order: (
    order[0],
    (order[2]*order[3]) + 10 if (order[2] * order[3]) < 100 else (order[2]*order[3])
)

result = list(map(calculate_total,orders))

print(result)

[(34587, 163.8), (98762, 284.0), (77226, 108.85000000000001), (88112, 84.97)]